DISCORD_BOT_TOKEN="your_discord_bot_token_here"
DISCORD_BOT_APPID=your_discord_bot_appid_here

# General : Specific log channle and staff roles.
CHANNEL_ID=0
STAFF_ROLE_ID=0

# Branch : Specify the branch of the codebase to use (e.g., "main", "dev").
BRANCH=dev

# Features : Toggle specific features on or off.
IMAGE_MODERATION=true
TEXT_MODERATION=true
GIF_MODERATION=true
VOICE_MODERATION=true

# API : A set of settings for different AI API providers.
HUGGINGFACE_API_KEY="your_huggingface_api_key_here"
OPENAI_API_KEY="your_openai_api_key_here"
